nav {
  display: flex;
  color: white;
  /* background-color: yellowgreen; */
  justify-content: space-between;
}
 
header {
  
  height: 100%;
  color: whitesmoke;
  display: grid;
  align-items: center;
}
 
 
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
form {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
form input {
  height: 30px;
  margin: 3px;
  padding: 3px 7px;
  font-size: 17px;
}
form button {
  background-color: seagreen;
  /* color: aliceblue; */
  /* font-size: 25px; */
}
section {
  
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  height: 50%;
  background-position: auto; 
  background-repeat: no-repeat;
  background-size: cover;
}
  footer {
    display: grid;
  }